<%- include('partials/userheader') -%>
  <div class="container">


    <h1>Find A Home To Help</h1>
    <div class="row justify-content-center mt-5">
      <section class="row list-unstyled">
        <div class="card-holder">
          <% for(var i=0; i<users.length; i++) {%>
            <%# need to make this more bulletproof, if user.role undefine, then continue? %>
              <% if (users[i].role.isNursingHome===true) { %>
                <div class="home-card">
                  <div>
                    <img src="/imgs/nursinghome.jpg">
                  </div>
                  <div class="home-card-info">
                    <p>
                      <span><strong>Home</strong>:</span>
                      <%= users[i].profile.profileName%>
                    </p>
                    <p>
                      <span><strong>Contact Name</strong>:</span>
                      <%= users[i].profile.contactName%>
                    </p>
                    <p>
                      <span><strong>Phone</strong>:</span>
                      <%= users[i].profile.contactNumber%>
                    </p>
                    <p>
                      <span><strong>Located</strong>:</span>
                      <%= users[i].profile.cityState%>,
                        <%= users[i].profile.zipcode%>
                    </p>

                  </div>
                  <div class="nh-btn"> <a class="btn btn-primary" href="/nh/<%=users[i]._id %>">See Open Events</a>
                  </div>

                </div>

                <% } %>
                  <% } %>
        </div>
      </section>
    </div>
  </div>
  <%- include('partials/footer') -%>