<%- include('partials/userheader') -%>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <section class="row list-unstyled">
        <% for(var i=0; i<users.length; i++) {%>
          <%# need to make this more bulletproof, if user.role undefine, then continue? %>
            <% if (users[i].role.isNursingHome===true) { %>
              <a href="/nh/<%=users[i]._id %>">
                <p><%=users[i]._id %></p>
              <div>
                <p>
                  <span>Nursing Home:</span>
                  <%= users[i].profile.profileName%>
                </p>
              <div>
              </a>
                  <% } %>
                    <% } %>
      </section>
    </div>
  </div>
  <%- include('partials/footer') -%>