<%- include('partials/userheader') -%>


    <%if(user.role.isNursingHome==true){ %>

        <div class="container">

            <div class="row mt-5">
                <div class="col-6 events-header">
                    <div>
                        <h2>Welcome to your events, <%= user.profile.profileName%>!
                        </h2>
                    </div>
                </div>
                <div class="vevents-header">
                    <div>
                        <a class="btn btn-primary" href="/board">Check out Volunteer Board</a>
                    </div>
                    <div>
                        <a class="btn btn-primary" href="/profile">Return to Profile</a>
                    </div>
                </div>

                <div>

                    <div class="mt-5 create-spacing">
                        <div class="create-events">
                            <h2>Create A Event</h2>
                            <div class="messages-bad">
                                <% if(sessionFlash && sessionFlash.message) { %>
                                    <%= sessionFlash.message%>
                                        <% } %>

                            </div>
                            <form action="/event/createEvent" method="POST">
                                <div class="mb-3">
                                    <label for="eventName" class="form-label">Name of Event:</label>
                                    <input type="text" class="edit-prof" id="eventName" name="eventName">
                                </div>
                                <div class="mb-3">
                                    <label for="eventDate" class="form-label">Event Date:</label>
                                    <input type="date" class="edit-prof" id="eventDate" name="eventDate">
                                </div>
                                <div class="mb-3">
                                    <label for="sTime" class="form-label">Start Time:</label>
                                    <input type="time" class="edit-prof" id="sTime" name="sTime">
                                </div>
                                <div class="mb-3">
                                    <label for="eTime" class="form-label">End Time:</label>
                                    <input type="time" class="edit-prof" id="eTime" name="eTime">
                                </div>
                                <div class="mb-3">
                                    <label for="numNeeded" class="form-label">Volunteers Needed:</label>
                                    <input type="number" min="0" max="10" class="edit-prof" id="numNeeded"
                                        name="numNeeded">
                                </div>
                                <div class="view-event-info btn-center">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                <div class="event-sm-cont">
                    <div class="col-6 upcoming-events">
                        <h3>Created Volunteer Events</h3>
                        <ul class="events">
                            <% for(var i=0; i<events.length; i++) {%>
                                <li class="event">
                                    <div>
                                        <span><strong>Event Name</strong>:</span><span class="name">
                                            <%= events[i].name %>
                                        </span>
                                    </div>
                                    <div>
                                        <span><strong>Date of Event</strong>:</span><span class="msg">
                                            <%= events[i].eventDate %>
                                        </span>
                                    </div>

                                    <div>
                                        <span><strong>Starts</strong>:</span><span class="thumbs">
                                            <%= events[i].startTime %>
                                        </span>
                                        <span>Ends: </span><span class="thumbs">
                                            <%= events[i].endTime %>
                                        </span>
                                    </div>

                                    <span><strong> Volunteers Needed</strong>:</span><span class="thumbs">
                                        <%= events[i].numNeeded %>
                                    </span>
                                    <div class="view-event-info">
                                        <a class="btn btn-primary" href="/event/<%= events[i]._id%>">View Event
                                            Info</a>
                                    </div>
                                </li>
                                <% } %>
                        </ul>
                    </div>
                    <div class="calendar">
                        <div id='calendar'></div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
            <%if(user.role.isVolunteer==true){ %>
                <div class="container">

                    <div class="row mt-5 event-cont">
                        <div class="col-6 event-head">
                            <h2>Welcome to your events, <%= user.profile.profileName %>!
                            </h2>

                        </div>
                        <div class="vevents-header">
                            <div>
                                <a class="btn btn-primary" href="/board">Go to Volunteer Board</a>
                            </div>
                            <div>
                                <a class="btn btn-primary" href="/profile">Return to Profile</a>
                            </div>

                        </div>
                        <div class="event-sm-cont">
                            <div class="col-6 upcoming-events">
                                <h3>Upcoming Volunteer Events</h3>
                                <ul class="events">
                                    <% for(var i=0; i<events.length; i++) {%>
                                        <li class="event">
                                            <div>
                                                <span><strong>Event Name</strong>:</span><span class="name">
                                                    <%= events[i].name %>
                                                </span>
                                            </div>
                                            <div>
                                                <span><strong>Date of Event</strong>:</span><span class="msg">
                                                    <%= events[i].eventDate %>
                                                </span>
                                            </div>

                                            <div>
                                                <span><strong>Starts</strong>:</span><span class="thumbs">
                                                    <%= events[i].startTime %>
                                                </span>
                                                <span><strong>Ends</strong>:</span><span class="thumbs">
                                                    <%= events[i].endTime %>
                                                </span>
                                            </div>

                                            <span><strong>Volunteers Needed</strong>:</span><span class="thumbs">
                                                <%= events[i].numNeeded %>
                                            </span>
                                            <div class="view-event-info">
                                                <a class="btn btn-primary" href="/event/<%= events[i]._id%>">View Event
                                                    Info</a>
                                            </div>
                                        </li>
                                        <% } %>



                                </ul>

                            </div>
                            <div class="calendar">
                                <div id='calendar'></div>
                            </div>
                        </div>
                    </div>
                </div>

                <% } %>

                    <!-- Full Calendar -->
                    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>


                    <script src="/js/events.js"></script>
                    <script src="/js/date.js"></script>


                    <%- include('partials/footer') -%>