<%- include('partials/userheader') -%>

  <main class="container">
    <div></div>

    <div class="">
      <ul class="events">
        <% for(var i=0; i<events.length; i++) {%>
          <li class="event">
            <div>
              <% if (messages && messages.success) { %>
                <div class="success-message">
                  <%= messages.success[0] %>
                </div>
              <% } %>
              
              <% if (messages && messages.info) { %>
                <div class="info-message">
                  <%= messages.info[0] %>
                </div>
              <% } %>
              <div>
              <p>
                <span>Volunteer Event Name:</span><%= events[i].name %>
              </p>
              <p>
                <span>Date of Event:</span><%= events[i].eventDate %>
              </p>
              <p>
                <span>Starts:</span><%= events[i].startTime %>
                <span>Ends:</span><%= events[i].endTime %>
              </p>
              <p>
                <span>Volunteers Needed:</span><%= events[i].numNeeded %>
              </p>
              </div>
              <% if ((events[i].numNeeded> 0) && (user.role.isNursingHome===false)) { %>
                <form action="/nh/joinEvent/<%= events[i]._id %>?_method=PUT" method="POST">
                  <button>Sign up for Event</button>
                </form>
                <% } %>
                  <% if (user.role.isNursingHome===false) { %>
                    <form action="/nh/unjoinEvent/<%= events[i]._id %>?_method=PUT" method="POST">
                      <button>Cancel sign up</button>
                    </form>
                    <% } %>
            </div>
          </li>
          <% } %>



      </ul>
    </div>


  </main>


  <%- include('partials/footer') -%>